@tailwind base;
@tailwind components;
@tailwind utilities;


.responsive-div {
    width: 100%; /* Default width for small screens */
  }
  
@media (min-width: 768px) {
.responsive-div {
    width: calc(100% - 256px); /* Adjust width when screen is md or larger */
}
}



.bg-image {
  background-image: url('./assets/bg-pink.webp');
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #FF5E7E;
}
::-webkit-scrollbar-track {
  background-color: #F9A8D4;
}